.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 50s linear;
  margin-left: 2vw;
  height: 80px;
  position: inline;
  float: left;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  position: inline-block;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
